.WS-Link-Page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1vh;
  height: 100%;

  background-color: white;
}

.WS-Link-Tab-Container {
    position: absolute;

  width: 96%;
}

.WS-Link-Tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid var(--color-light-gray);
}

/* 각 탭의 기본 스타일 */
.WS-Link-Tab {
    flex: 1;
    text-align: center;
    padding: 4%;
    cursor: pointer;

    color: var(--color-dark-gray);
    font-weight: 500;
    font-size: var(--font-size-lg);
}

/* 활성화된 탭 스타일 */
.WS-Link-Tab.active {
    color: var(--color-main-hover);
    font-weight: 900;
}

.WS-Link-Tab-Content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.WS-youtube-icon {
    margin-bottom: 1%;
}

.WS-check-icon {
    position: relative;
    bottom: 1px;

    padding: 2% 2.5% 0.5% 2.5%;

    background-color: var(--color-success);
    border-radius: var(--border-radius-full);
    color: white;

    font-size: var(--font-size-sm);
}

.WS-Count {
    position: relative;
    bottom: 1px;

    padding: 2% 4% 0.5% 3.5%;

    background-color: var(--color-main);
    border-radius: var(--border-radius-full);
    color: white;

    font-size: var(--font-size-sm);

}

/* 핸드폰 확인 */
.WS-Link-Page-Content {
    margin-top: 17%;
    width: 100%;
    height: 100%;
}