.WS-Link-Page {
    top: 0px;
    display: flex;
    /* Flexbox 사용 */
  
}

.WS-Link-Page-Content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


/* 완료 ============================================== */