.WS-SearchYoutube-Tab {
  width: 100%;
  height: 100%;
}

/* 검색 입력창 ============================================= */
.WS-Link-Input-Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WS-Link-Input {
  width: 70%;
  padding: 3% 15% 2.5% 4%;
  /* 커서 여유 */
  border: 2px solid var(--color-light-gray);

  border-radius: var(--border-radius-full);
  font-size: var(--font-size-base);
  font-weight: 500;
}

.WS-Link-Input:focus {
  outline: none;
}

.WS-Link-Button-Container {
  position: absolute;
  right: 7%;
  top: 30%;
}

.WS-SearchYoutube-SearchButton {
  font-size: var(--font-size-base);
  background: none;
  border: none;

  color: var(--color-guide);
}

.WS-SearchYoutube-ClearButton {
  right: 25px;

  background: none;
  border: none;
  color: var(--color-guide);
  font-size: var(--font-size-base);
}

.WS-SearchYoutube-SearchButton:hover,
.WS-SearchYoutube-ClearButton:hover {
  cursor: pointer;
  color: var(--color-dark-gray);
  scale: 1.05;
}

/* 검색 결과 ============================================= */
.WS-SearchYoutube-Results {
  display: grid;
  position: relative;

  margin-top: 2%;

  width: 100%;
  height: 80%;

  overflow-y: auto;
  overflow-x: hidden;
}

.WS-SearchYoutube-Loading {
  display: flex;
  justify-content: center;
  margin-top: 35vh;

  transition: none;
}

.WS-SearchYoutube-Results-Item {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 3%;

  padding: 2% 1% 1% 1%;

  border-radius: var(--border-radius-base);
  border: none;

  cursor: pointer;
}

/* 클릭했을 때 밝기*/
.WS-SearchYoutube-Results-Item.selected .WS-SearchYoutube-Thumbnail {
  filter: brightness(0.4);
}

/* SJ 북마크 생성 */
.WS-SearchYoutube-Results-Item.selected::before {
  content: "";
  position: absolute;
  left: 2%;
  top: 0;

  width: 35px;
  height: 35px;
  background-image: url("../../images/choice_bookmark.png");
  /* 정확한 경로로 수정 */
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 2;
}

.WS-SearchYoutube-Thumbnail-Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-xl);
}

/* 처음 밝기 */
.WS-SearchYoutube-Thumbnail {
  position: relative;

  width: 100%;
  border-radius: var(--border-radius-xl);

  filter: brightness(1);
  z-index: 1;
}

.WS-youtube-icon-link {
  position: absolute;
  margin-left: 80%;
  margin-top: 40%;
  scale: 0.015;

  background: none;
  border: none;

  z-index: 2;
  cursor: pointer;
}

.WS-youtube-icon-link:hover {
  scale: 0.017;
}

.WS-SearchYoutube-Info-Container {
  text-align: left;
  flex-direction: column;

  width: 100%;
  padding: 1%;
}

.WS-SearchYoutube-Title {
  margin-top: 1%;
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 1.4;
  cursor: pointer;
  color: black;
}

.WS-SearchYoutube-ChannelInfo {
  display: flex;
  margin-top: 1.5%;
  color: var(--color-guide);
  font-size: var(--font-size-xs);
  padding-right: 3%;
}

.WS-SearchYoutube-Date {
  margin-left: auto;
}

/* 스크롤바 ============================================= */
.WS-SearchYoutube-Results::-webkit-scrollbar {
  width: 4px;
}

.WS-SearchYoutube-Results::-webkit-scrollbar-track {
  background: transparent;
}

.WS-SearchYoutube-Results::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: transparent;
}

/* 스크롤바 호버 시 */
.WS-SearchYoutube-Results::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* 스크롤바 드래그 시 */
.WS-SearchYoutube-Results::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 검색 결과 없음 ============================================= */
.WS-SearchYoutube-NoResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 5%;
}

.WS-SearchYoutube-RecentSearches-Title {
  font-size: var(--font-size-base);
  color: var(--color-guide);
  margin-bottom: 5%;
}

.WS-SearchYoutube-RecentSearches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
}

.WS-SearchYoutube-RecentSearch-Tag {
  padding: 3% 5%;

  background-color: var(--color-light-gray);
  border: none;
  border-radius: var(--border-radius-full);
  font-size: var(--font-size-sm);
  color: var(--color-guide);

  cursor: pointer;
}

.WS-SearchYoutube-RecentSearch-Tag:hover {
  background-color: var(--color-dark-gray);
  color: white;
}

/*  완료 ============================================================ */