.WS-SearchYoutube-Search {
    margin-bottom: 10px;
}

.WS-Link-Input-Container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

.WS-Link-Input {
    width: 100%;
    padding: 12px 20px;

    border: 2px solid #E3E3E3;

    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

.WS-Link-Input:focus {
    outline: none;
}

.WS-Link-Button-Container {
    position: absolute;
    right: 2px;
    display: flex;
}

.WS-SearchYoutube-SearchButton,
.WS-SearchYoutube-ClearButton {

    color: #3E3E3E;

    right: 40px;
    top: 50%;
    transition: all 0.3s ease;

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
}

.WS-SearchYoutube-SearchButton:hover,
.WS-SearchYoutube-ClearButton:hover {
    cursor: pointer;
    color: #E3E3E3;
    scale: 1.05;
}

.WS-SearchYoutube-Results {
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    transition: all 0.3s ease;
}

.WS-SearchYoutube-Results-Item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    padding: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.WS-SearchYoutube-Results-Item.selected,
.WS-SearchYoutube-Results-Item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.WS-SearchYoutube-Results-Item.selected .WS-SearchYoutube-Thumbnail,
.WS-SearchYoutube-Results-Item:hover .WS-SearchYoutube-Thumbnail {
    filter: brightness(0.5);
}

.WS-SearchYoutube-Checkbox {
    z-index: 1005;
    position: absolute;
    color: black;
    scale: 6;
    transition: all 0.3s ease;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    opacity: 0.7;
}

.WS-SearchYoutube-Results-Item.selected .WS-SearchYoutube-Checkbox {
    scale: 7;
    opacity: 1;
    color: white;

}

.WS-SearchYoutube-Results-Item:hover .WS-SearchYoutube-Checkbox {
    scale: 8;
    opacity: 1;  
}

.WS-SearchYoutube-Thumbnail-Container {
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WS-SearchYoutube-Thumbnail {
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

.WS-youtube-icon-link {
    position: absolute;
    scale: 0.015;
    z-index: 1000;
    margin-left: 80%;
    margin-top: 40%;
    cursor: pointer;
    transition: all 0.3s ease;
    background: none;
}

.WS-youtube-icon-link:hover {
    scale: 0.017;
}

.WS-SearchYoutube-Info-Container {
    text-align: left;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.WS-SearchYoutube-Title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    cursor: pointer;
    color: black;
}

.WS-SearchYoutube-ChannelInfo {
    display: flex;
    margin-top: 8px;
    color: #3E3E3E;
    font-size: 12px;
    padding-right: 8px;
}

.WS-SearchYoutube-Date {
    margin-left: auto;
}

/* 스크롤바 ============================================= */
/* Chrome, Safari, Edge 스크롤바 스타일링 */
.WS-SearchYoutube-Results::-webkit-scrollbar {
    width: 4px;
}

.WS-SearchYoutube-Results::-webkit-scrollbar-track {
    background: transparent;
}

.WS-SearchYoutube-Results::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: transparent;
}

/* 스크롤바 호버 시 */
.WS-SearchYoutube-Results::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* 스크롤바 드래그 시 */
.WS-SearchYoutube-Results::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}


/*  완료 ============================================================ */