.WS-SelectDayTab {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 1000;
}

.WS-SelectDayTab-Title {
  /* 수진,전체 내용 위아래위치 수정 */
  font-size: 28px;
  font-weight: bold;
  margin-top: -80px;
  margin-bottom: 60px;
  line-height: 0px;
}

.WS-SelectDayTab-SubTitle {
  font-size: 16px;
  margin-bottom: 10px;
}

.WS-SelectDayTab-Counter {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  height: 60px; /* SJ, 카운터 높이 수정 */
  width: 85%;

  background-color: #c92b2a;
  border-radius: 30px;
}

.WS-Counter-Button {
  background: transparent; /* 배경 투명하게 */
  border: none; /* 테두리 제거 */
  color: #ffffff; /* 아이콘 색상 */
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WS-Counter-Value {
  background: transparent; /* input 배경도 투명하게 */
  border: none; /* input 테두리 제거 */
  text-align: center;
  font-size: 24px;
  width: 40px;
  color: #ffffff;
}

.WS-SelectDayTab-Button-Container {
  display: flex;

  margin-top: 161px; /* SJ, 이전,다음 버튼 위치 수정 */
  padding: 16px;
  gap: 0px;
  background-color: white;
  justify-content: center;
  z-index: 1000;
}

.WS-SelectDayTab-BackButton,
.WS-SelectDayTab-NextButton {
  padding: 20px;
  border-radius: 22px;
  border: none;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 180px;
  flex: 1;
  max-width: 100px;
  font-family: 'NanumBarunGothic', sans-serif;
}

.WS-SelectDayTab-NextButton.active {
  background-color: #c92b2a;
  color: white;
}
