.WS-Modal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    background-color: rgba(0, 0, 0, 0.7);

    overflow: hidden;
}

.WS-AlertModal-Content {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding-top: 50px;

    border-radius: var(--border-radius-xl);

    width: 100%;
    max-width: 300px;

    height: 30%;
    max-height: 180px;

    z-index: 11;

    background-color: white;
}

.WS-AlertModal-Message-Container {
    text-align: center;
    width: 90%;

    margin-bottom: 30px;
}

.WS-AlertModal-Title {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-main);

    margin-bottom: 12%;
}

.WS-AlertModal-Message {
    font-size: var(--font-size-sm);
    color: var(--color-dark-gray);
}

.WS-AlertModal-Button-Container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 60px;

    border-top: 2px solid var(--color-light-gray);
}

.WS-AlertModal-Button {
    width: 100%;
    padding: 5px 0;

    background: none;
    border: none;
    font-size: var(--font-size-base);
    font-weight: bold;
}

/*  완료 ============================================================ */