/* 헤더 컨테이너 스타일 */
.WS-Header-Container {
    display: flex;  
    position: fixed;
    top: 10px;
    width: 100%;
    max-width: 402px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/*완료 ================================================================== */