/* 전체 페이지 기본 스타일 */
*{
    cursor: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;  /* 모바일에서 탭 시 하이라이트 제거 */
}

body {
    background-color: #C92B2A;
    font-family: 'NanumBarunGothic', sans-serif;
    /* 나눔바른고딕 폰트 적용 */
    overflow-y: hidden;
}

/* 메인 레이아웃 컨테이너 */
.WS-Main-Layout {
    position: fixed;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);

    width: 402px;
    height: 100vh;

    background-color: white;
}

.WS-main-header {
    position: fixed;
    display: flex;  
    justify-content: center;
    align-items: center;

    width: 402px;
    height: 60px;
}

/* 메인 컨텐츠 영역 */
.WS-Main-Container {
    position: fixed;
    top: 60px;
    bottom: 100px;
    width: 402px;
}

.WS-Main-Footer {
    position: fixed;
    bottom: 0;

    width: 402px;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* 헤더 없는 레이아웃 컨텐츠 영역 */
.WS-Main-Container-Headerless {
    position: fixed;
    width: 402px;
}
/* 완료 ================================================================== */