* {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 메인 컨텐츠 영역 */
.WS-Main-Container {
    position: fixed;
    top: 1%;
    bottom: calc(var(--footer-height) + env(safe-area-inset-bottom, 0px));

    width: 96%;
    -webkit-overflow-scrolling: touch;
}

.WS-Main-Footer {
    position: fixed;
    bottom: 0;
    top: 88%; /* 푸터 세로 위치 */
    left: 0;
    width: 100%;
    height: calc(var(--footer-height) + env(safe-area-inset-bottom, 0px));
    padding-bottom: env(safe-area-inset-bottom, 0px);

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(255, 255, 255);
}

/* 플로팅 버튼 스타일 */
.WS-Wish-Floating-Button {
    position: fixed;

    bottom: calc(15% + env(safe-area-inset-bottom, 0px));
    right: 30px;

    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-full);
    background-color: var(--color-guide);

    color: white;
    font-size: var(--font-size-xl);
    border: none;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.WS-Wish-Floating-Button:hover {
    transform: scale(1.1);
    background-color: var(--color-main-dark);
}

.WS-Wish-Floating-Button.active {
    transform: scale(0);
    opacity: 0;
}

/* 완료 ================================================================== */