/* 메인 컨텐츠 영역 */
.WS-Main-Container {
    position: fixed;
    top: 2%;
    bottom: var(--footer-height);

    width: 96%;
 
    transition: all 0.3s;
}

.WS-Main-Footer {
    position: fixed;
    bottom: 0;

    left: 0;
    width: 100%;
    height: var(--footer-height);

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

/* 플로팅 버튼 스타일 */
.WS-Wish-Floating-Button {
    position: fixed;

    bottom: 15%;
    right: 30px;

    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-full);
    background-color: var(--color-guide);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    color: white;
    font-size: var(--font-size-xl);
    border: none;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
 
    transition: all 0.3s ease;
    z-index: 1020;
}

.WS-Wish-Floating-Button:hover {
    transform: scale(1.1);
    background-color: var(--color-main-dark);
}

.WS-Wish-Floating-Button.active {
    transform: scale(0);
    opacity: 0;
}
/* 완료 ================================================================== */