/* 모달 스타일 */
.WS-Wish {
    display: flex;
    flex-direction: column;
    z-index: 1015;

    width: 90%;
    max-width: 402px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    overflow: hidden;
}

/* 모달 헤더 */
.WS-Wish-Header {
    padding: 16px;
    background-color: white;
    color: var(--color-dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--color-light-gray);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.WS-Wish-Header h3 {
    margin: 0;
    font-size: var(--font-size-base);
}

.WS-Wish-Close-Button {
    background: none;
    border: none;
    color: var(--color-dark-gray);
    cursor: pointer;
    font-size: var(--font-size-base);
    padding: 4px;
}

/* 챗봇 메시지 */
.WS-Wish-Messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;

    margin-bottom: 10px;
}

.WS-Wish-Message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.WS-Wish-Message.user {
    flex-direction: row-reverse;
}

.WS-Wish-Bot-Avatar {
    width: 40px;
    height: 40px;
    background-color: var(--color-main);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 10px;
}

.WS-Wish-Message-Content {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 12px;
    background: var(--color-light-gray);
    white-space: pre-line;
    word-wrap: break-word;
}

.WS-Wish-Message.user .WS-Wish-Message-Content {
    background: #C92B2A;
    color: white;
    transition: all 0.2s;
}

.WS-Wish-Weather-Button-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* 날씨 정보 버튼 */
.WS-Wish-Exchange-Button,
.WS-Wish-Weather-Button {
    width: 100px;
    height: 40px;
    border-radius: 22px;
    background-color: var(--color-guide);
    color: white;
    border: none;
    cursor: pointer;

    margin-bottom: 10px;
}

.WS-Wish-Weather-Button:hover,
.WS-Wish-Exchange-Button:hover {
    background-color: var(--color-main-hover);
    scale: 1.05;
}


/* 챗봇 입력창 */
.WS-Wish-Input-Container {
    padding: 20px;
    border-top: 1px solid var(--color-light-gray);
    display: flex;
    gap: 20px;
}

.WS-Wish-Input {
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 22px;
    border: 1px solid var(--color-light-gray);
    font-size: var(--font-size-base);

    outline: none;
}

.WS-Wish-Send-Button {
    padding: 12px 24px;
    background: var(--color-main);
    color: white;
    border: none;
    border-radius: 22px;
    cursor: pointer;
}

.WS-Wish-Send-Button:hover {
    background: var(--color-main-hover);
    scale: 1.05;
}