.WS-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: white;

 }

.WS-login-header-Container {
    position: absolute;
    top: 10px;
    left: 5px;

    display: flex;
    align-items: left;

}

.WS-login-back-button {
    font-size: var(--font-size-xl);
    font-weight: bold;
    background-color: transparent;
    border: none;

    width: 50px;
    height: 50px;

    color: var(--color-dark-gray);

    cursor: pointer;
}

.WS-login-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.WS-login-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 120px;

    width: 100%;
    height: 100px;
}

.WS-login-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    margin-bottom: 250px;
    padding: 15px;

    width: 300px;

    border: 2px solid var(--color-light-gray);
    border-radius: var(--border-radius-full);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    background-color: white;

    cursor: pointer;
}

.WS-login-button img {
    width: 24px;
    /* 아이콘 크기 */
    height: 24px;
    /* 아이콘 크기 */
    margin-right: 10px;
    /* 아이콘과 텍스트 간격 */
}

.WS-login-button:hover {
    background: #f0f0f0;
    /* 호버 시 배경 색상 변경 */
}

.WS-login-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    margin-top: 70px;

    font-size: var(--font-size-sm);
    font-weight: bold;
    color: var(--color-guide);

    border-top: 1px solid var(--color-guide);

    width: 96%;
    padding-top: 10px;
}

.WS-login-message-container div {
    margin-right: 10px;
}
