.SJ_loading_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.SJ_loading_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: -200px;
}

/* 지구 로딩바 사이*/
.SJ_loading_image_container {
  height: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 지구 이미지 */
.SJ_loading_earth {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease; /* 이미지 전환 효과 추가 */
}

.SJ_progress_wrapper {
  position: relative;
  width: 300px;
  margin-top: 50px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.SJ_loading_airplane {
  position: absolute;
  bottom: 17px;
  width: 21px;
  height: 21px;
  transform: translateX(-100%) translateZ(0) rotate(95deg);
  -webkit-transform: translateX(-50%) translateZ(0) rotate(95deg);
  z-index: 2;
  will-change: left, opacity;
  transition: opacity 0.2s ease;
}

.SJ_progress_container {
  width: 300px;
  height: 8px;
  background-color: #919191;
  border-radius: 22px;
  position: relative;
  overflow: visible !important;
}

.SJ_progress_bar_main {
  height: 100%;
  background-color: #c92b2a;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 22px; /* 내부 바에도 border-radius 추가 */
  will-change: width;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.SJ_progress_bar_background {
  width: 100%;
  height: 100%;
  background-color: #919191;
  border-radius: 22px; /* 배경 바에도 border-radius 추가 */
}

/* 여행 기간에 맞는 영상 정보 준비중 */
.SJ_loading_message {
  color: #3e3e3e;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 40px; /* line-height 값을 늘려서 줄 간격 증가 */
  margin: 0;
  white-space: pre-line;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.SJ_loading_sub_message {
  color: #919191;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin: -20px 0 0 0;
  white-space: pre-line;
  letter-spacing: 0.5px;
  padding-top: 4px;
}
