.SJ-Travel-List {
  width: 100%;
}

/* 여행 목록 컨테이너 스크롤 설정 */
.SJ-travel-container {
  top: 0;
  margin: 0 auto;

  width: 100%;
}

.SJ-filter-buttons {
  display: flex;
  margin-bottom: 15px;

  gap: 10px;
}

.SJ-filter-btn {
  margin-left: 5px;

  padding: 8px 16px;
  border: 1px solid var(--color-light-gray);

  background: none;
  cursor: pointer;

  color: var(--color-guide);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.SJ-filter-btn.active {
  background-color: var(--color-main);
  color: white;
  border: 1px solid var(--color-main);
  font-weight: bold;
}

.SJ-filter-btn:hover {
  border-color: var(--color-main-hover);
}

.SJ-search-Container {
  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  width: 100%;
}

.SJ-search-input {
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  border: 2px solid var(--color-light-gray);
  border-radius: var(--border-radius-full);

  margin-left: 5px;
  margin-right: 5px;

  transition: all 0.3s ease;
}

.SJ-search-input:focus {
  border-color: var(--color-dark-gray);
}

.SJ-search-icon {
  position: absolute;
  right: 15px;
  margin-top: 5px;
  width: 30px;
  height: 30px;

  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;

  color: var(--color-guide);
  transition: all 0.3s ease;
}

.SJ-search-icon:hover {
  color: var(--color-dark-gray);
}

.SJ-travel-grid {
  display: grid;
  gap: 8px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  height: 420px;

  overflow-x: hidden;
  overflow-y: auto;
}

/* 스크롤바 스타일 */
.SJ-travel-grid::-webkit-scrollbar {
  width: 8px;
}

.SJ-travel-grid::-webkit-scrollbar-track {
  background: transparent;
}

.SJ-travel-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.SJ-travel-card {
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  width: 98%;

  margin: auto;
}

.SJ-travel-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  margin: 15px;

  border-radius: 20px;
}

.SJ-travel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SJ-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 270px;
  height: 110px;
}

.SJ-card-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 40px;
  width: 80%;
  /* 바의 길이 제한 */
  border-bottom: 2px solid var(--color-guide);
  padding-bottom: 5px;
}

.SJ-card-title {
  font-size: 16px;
  font-weight: bold;
}

.SJ-card-footer {
  position: relative;

  display: flex;
  align-items: center;

  gap: 5px;
  padding-right: 40px;
  width: 80%;

  margin-top: 8px;
}

.SJ-card-period {
  color: var(--color-guide);
  font-size: 12px;
}

.SJ-card-date {
  position: absolute;
  right: 0px;

  color: var(--color-guide);
  font-size: 12px;
}

.SJ-pin-icon {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 20px;
  z-index: 2;
}


.WS-favorite-button {
  position: absolute;
  right: 20px;
  top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  border: none;
  background: none;

  cursor: pointer;
  transition: all 0.3s ease;
}

.WS-favorite-button.outlined {
  font-size: 20px;
  transform: scale(1.1);
}

.WS-favorite-button.filled {
  color: var(--color-main);
}

.SJ-more-button {
  position: absolute;
  right: 15px;
  bottom: 15px;

  width: 20px;
  height: 20px;
  font-size: 20px;
  color: var(--color-dark-gray);
  background: none;
  border: none;

  cursor: pointer;
}