.SJ-Travel-Page {
    top: 0px;
    display: flex;

    height: 100%;
}

.SJ-Travel-Tab-Container {
    position: fixed;

    justify-content: center;
    align-items: center;

    width: 96%;

    height: 7%;
}

.SJ-Travel-Tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e0e0e0;
}

.SJ-Travel-Tab {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color: var(--color-dark-gray);
    transition: all 0.3s ease;
}

.SJ-Travel-Tab.active {
    color: var(--color-main-hover);
    font-weight: 900;
    scale: 1.1;
}

.SJ-Tab-Indicator-Container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.SJ-Tab-Indicator {
    width: 50%;
    height: 2px;
    background-color: var(--color-main);
    transition: all 0.3s;
}

.SJ-Travel-Page-Content {
    margin-top: 20%;
    width: 100vw;
}